body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/img/bg_login.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.form-container {
    width: 500px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
    border-radius: 5%;
}

.input-group {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: center;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 80%; 
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: auto; 
    margin-right: auto; 
}

button {
    width: 170px;
    padding: 8px 20px;
    background-color: #E56229;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #d2521b;
}

p {
    font-size: 14px;
    text-align: center;
}

a {
    color: #159BE1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.error {
    color: red;
}