body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#map {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.map-overlay {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}

.sidebar-btn {
    background-color: white;
    cursor: pointer;
    border: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -80vw;
    width: 80vw;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease;
    z-index: 999;
}

.sidebar.active {
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 998;
    width: 80vw;
    padding: 8px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 16px;
}

.search-bar .search-icon {
    padding: 0 16px;
    color: #5f6368;
}

.search-bar .mic-icon {
    padding: 0 16px;
    color: #5f6368;
}

.sidebar-content {
    height: 12%;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.sidebar-content>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidebar-content img {
    height: 50px;
    width: 50px;
}